.cart-page{
  display: grid;
  grid-template-columns: auto clamp(120px,20vw,250px);
  margin: 10px;
}
.cart-page>div{
  padding:10px;
}
.cart-page>div:nth-child(1)>div{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid black;
}
.cart-page>div:nth-child(1)>div>div{
  margin: 12px;
  text-align: center;
  flex-basis: 100px;
  padding:10px;
}
.cart-page>div:nth-child(1)>div>div>img{
  height:100px;
}

.cart-page>div:nth-child(2){
  background-color: var(--gray);
  border-radius: 10px;
}
.cart-page>div:nth-child(2)>div{
  padding:10px;
  text-align: center;
}
.cart-page-qty>div:nth-child(2){
  margin-top: 2px;
}
.cart-page-qty{
  display: flex;
}
.cart-page-qty>div{
  padding:3px;
}

.cart-page>div:nth-child(2)>div:nth-child(3)>button{
  padding:10px;
  border-radius: 5px;
}